<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rendring Mysql data</title>
    <style>
      *{
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(49, 126, 49);
  }
  .btns{
    margin: 15px auto;
  }
#form{
  margin: 10px 10px;
}
#txtar{
  padding: 10px;
  width: 1000px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}
#div{
  margin: 15px 20rem;
}
#gobtn{
  margin: 10px 55rem;
  padding: 10px 20px;
  width: 85px;
  border-radius: 10px;
  border: none;
  background-color: green;
  font-weight: bold;
  font-size: 25px;
}
    </style>
  </head>
  <body>
    <% console.log("another page") %>
    <%- include("form")%>
   
       <div class="btns">
         <button name="first" onclick="window.location.href='/fetchdata/1/<%=search%>'"<%= page==1 ? 'disabled':''%> >
           <<
         </button>
         <button
           name="pre"
           onclick="window.location.href='/fetchdata/<%=Number(page)-1%>/<%=search%>'"<%= page==1 ? 'disabled':'' %>>
           <
         </button>
         <span id="span"><%=page%></span>
         <button
           name="next"
           onclick="window.location.href='/fetchdata/<%=Number(page)+1%>/<%=search%>'"<%=page==(len.length/20) ? 'disabled':''%>
         >
           >
         </button>
         <button name="last" onclick="window.location.href='/fetchdata/<%=(len.length/20)%>/<%=search%>'" <%=page==(len.length/20) ? 'disabled':'' %>
           >>>
         </button>
         
       </div>
    <table id="myTable">
      <tr>
      <%for(let i=0; i<field.length; i++){%>
      <th><button onclick="sortTable(`<%=i%>`)"><%=field[i]["name"]%></button></th>
      <%}%>
    </tr>
    <%users.forEach((user)=>{%>
      <tr>
           <%Object.keys(user).forEach(key=>{%>
                <td ><%= user[key]%></td>
           <%})%>
      </tr>
    <%})%>
    </table>
    <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable");
      switching = true;
      dir = "asc"; 
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
       
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
        shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;      
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>
</body>
</html>
